.footer-container {
    padding: 2em 0;
    background-color: $background_color;
    box-shadow: 5px 5px 10px $primary_shadow, -5px -5px 10px $secondary_shadow;
    border-radius: 1em;
    text-align: center; /* Center text in the footer */
}

.footer-item {
    color: $text_secondary;
    font-size: 1em;
    margin: 0.5em 0; /* Space between items */
    transition: all 0.3s ease;
    
    &:hover {
        color: $text_primary;
        text-decoration: underline; /* Underline effect on hover */
    }
}

.social-media-icons {
    display: flex;
    justify-content: center; /* Center social media icons */
    margin-top: 1em;
}

.icon {
    margin: 0 1em; /* Space between icons */
    font-size: 1.5em; /* Adjust icon size */
    color: $text_secondary;
    transition: all 0.3s ease;

    &:hover {
        color: $text_primary; /* Change color on hover */
    }
}
